@inherits LayoutComponentBase

<div class="page">
    <main class="container">
       <div class="top-row px-4 d-flex">
            <NavMenu />
        </div>

        <article class="content pt-2">
            @Body
        </article>
    </main>
</div>
